@font-face {
  font-family: "arcade";
  src: url('/arcade.TTF');
}

body{
  margin:0;
}


header,footer{
  position: absolute;
  z-index: 9;
  width: 100%;
  padding: 20px 0;
}

header{
  background: transparent !important;
  text-align: center;
}

footer{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:1.4em;
  font-weight: bold;
  text-align: center;
  bottom:0px;
}

button{
  font-family: "arcade";
  font-size:22px;
  margin: 0 25px;
  background:none;outline: none; border:none;
  padding:2px;
  color:#cccccc80;
}

button:hover{
  color:#fff;
  cursor: pointer;
  transform: scale(1.3);
}

button:active{
  color:#fff;
  transform: scale(1);
}

.inpt-container{
  width: max-content;
  position: relative;
  margin: 0 auto;
  color:#fff;
}

.inpt-container input{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
}

.effect{
  border: 0; 
  padding: 5px 0; 
  padding-left: 3px;
  border-bottom: 1px solid #cccccc60;
  overflow: hidden;
  background-color: transparent;
  outline: none;
  color:#fff;
}

.effect ~ .focus-border{
  position: absolute;
  bottom: 0; left: 0; width: 0; height: 2px;
  background-color: #fff; 
  transition: 0.4s;
}

.effect:focus ~ .focus-border{
  width: 100%; 
  transition: 0.4s;
}

/*
#left,#right{
  width: 400px;
  height: 450px;
  box-shadow: 0 0 10px #fff;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(4px);
  position: absolute;
  top:20%;
}

#left{
  left:4%;
}

#right{
  right:4%;
}
 */
